Source: ros-jade-naoqi-libqicore
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael.arguedas@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-naoqi-libqi
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-naoqi-libqicore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-naoqi-libqi
Description: Aldebaran's libqicore: a layer on top of libqi
